{
    "reddit": {
        "user_agent": "<platform>:<app ID>:<version string> (by /u/<reddit username>)",
        "url": "https://www.reddit.com/r/DotA2/top.json?sort=top&t=day&limit=100"
    },
    "twitter": {
        "consumer_key": "",
        "consumer_secret": "",
        "access_token": "",
        "access_token_secret": ""
    }
}
